.App {
  text-align: center;
}

.App-container {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
	text-align: left;
	margin: 10px 0 30px 10px;
}

.App-col {
  height: 100%;
}

.App-col-side {
  width: 25%;
  max-width: 25%;
}

.App-col-middle {
  width: 50%;
  max-width: 50%;
}