@font-face {
  font-family: Metropolis-Regular;
  src: url("./assets/fonts/metropolis/Metropolis-Regular.woff2") format("woff2"), url("./assets/fonts/metropolis/Metropolis-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Metropolis-Bold;
  src: url("./assets/fonts/metropolis/Metropolis-Bold.woff2") format("woff2"), url("./assets/fonts/metropolis/Metropolis-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter-Regular;
  src: url("./assets/fonts/inter/Inter-Regular.woff2") format("woff2"), url("./assets/fonts/inter/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter-Bold;
  src: url("./assets/fonts/inter/Inter-Bold.woff2") format("woff2"), url("./assets/fonts/inter/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Inter-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  /* color: #212529; */
  color: #f7f7f7;

}

h1 {
  margin: 40px 20px 20px 0;
  font-size: 6em;
}

h1, h2, h3, h4 {
  font-family: 'Metropolis-Bold';
  margin: 0 0 10px 0;
}

p {
  margin: 5px 2px 5px 2px;
}

