.ControlPanel {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ControlPanel-section {
  max-width: 200px;
}

.ControlPanel-section > label {
  /* This will not affect the lables in the form element */
  margin-left: 2px;
}

.ControlPanel-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.ControlPanel-form fieldset p {
  display: flex;
  justify-content: space-between;
}

.ControlPanel-form fieldset p label {
  margin-right: 10px;
}

.ControlPanel-colorpicker {
  margin: 10px 0 0 0 !important;
}

/* Override the border styles for the Circle Color Picker items */
.ControlPanel-colorpicker > span > div > span > div {
	border: #b3b3b3 1px solid;
}