.ControlPanel {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ControlPanel-section {
  max-width: 200px;
}

.ControlPanel-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.ControlPanel-form fieldset p {
  display: flex;
  justify-content: space-between;
}

.ControlPanel-form fieldset p label {
  margin-right: 10px;
}

.ControlPanel-colorpicker {
  margin: 10px 0 0 0 !important;
}